.container{
    width:90%;
    margin:0 auto ;
    margin-top:40px;
    display:grid;
    grid-template-columns:3fr 6.5fr 3fr;
    gap:10rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.light{
    background: #ffffff;
    color: #000000;
}

.dark{
    background: #333333;
    color: #ffffff;
}


/* RESPONSIVEE */
@media only screen and (max-width: 992px){
    .container{
        gap: 5rem;
        grid-template-columns: 2.5fr 10fr 2.5fr;
    }
}